<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            Estado del viaje
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="page19" style="background-color:#F0F0F5;">
    <div style="margin-bottom: 100px;" *ngIf="seats != 0 ">
        <h5 id="estadoDelViaje-heading5" style="color:#8D33FF;font-size:14px">
            <b>USUARIOS QUE DESEAN TOMAR TU VIAJE:</b>
        </h5>

        <div *ngIf="disabled == false" style="margin-top: 100px;">
            <h6 id="estadoDelViaje-heading5" style="color:#000000; font-size:15px;text-align: center;">
                Aún no hay interesados en tu viaje
            </h6>
        </div>

        <div id="estadoDelViaje-form16" *ngFor="let postulate of postulates; let i = index">
            <div class="spacer" style="height:10px;" id="estadoDelViaje-spacer99"></div>
            <button id="estadoDelViaje-button26" ion-button color="positive" block style="font-size:14px;" on-click="goToVerUsuario(i)">
        {{postulate.name}}
      </button>
        </div>
    </div>

    <h5 id="estadoDelViaje-heading5" style="color:#8D33FF;font-size:14px">
        <b>USUARIOS QUE HAS ACEPTADO PARA TU VIAJE:</b>
    </h5>
    <div id="estadoDelViaje-form16" *ngFor="let client of clients; let i = index">
        <div class="spacer" style="height:10px;" id="estadoDelViaje-spacer99"></div>
        <button id="estadoDelViaje-button26" ion-button color="positive" block style="font-size:14px;" (click)="seeUser(i);">
            {{client.name}}
        </button>
        <ion-item id="estadoDelViaje-input16">
            <ion-label></ion-label>
            <ion-input disabled="{{isDisabled}}" value="{{pickUpPoints[i]}}" type="text"></ion-input>
        </ion-item>
        <ion-item id="estadoDelViaje-input16">
            <ion-label></ion-label>
            <ion-input disabled="{{isDisabled}}" value="{{client.address_end}}" type="text"></ion-input>
        </ion-item>
        <ion-item id="estadoDelViaje-checkbox1">
            <ion-label>
                Usuario recogido
            </ion-label>
            <ion-checkbox (ionChange)="pickUser(i)"></ion-checkbox>
        </ion-item>
        <ion-item id="estadoDelViaje-range1">
            <ion-range min="1" max="5" step="1" snaps="true" color="balanced" value="1" [(ngModel)]="califications[i]">
                <ion-label range-left>
                    Calificar (1-5):
                </ion-label>
            </ion-range>
        </ion-item>
        <ion-item id="estadoDelViaje-input17">
            <ion-label></ion-label>
            <ion-input type="text" placeholder="Comentario:" [(ngModel)]="coments[i]" maxlength="45"></ion-input>
        </ion-item>
        <div class="spacer" style="height:20px;" id="estadoDelViaje-spacer51"></div>
    </div>
    <div class="spacer" style="height:20px;" id="estadoDelViaje-spacer126"></div>
    <div *ngIf="clients.length === 0" style="margin-top: 100px; margin-bottom: 100px;">
        <h6 id="estadoDelViaje-heading5" style="color:#000000; font-size:15px; text-align: center;">
            Aún no has aceptado a ningún usuario
        </h6>
    </div> <br>
    <button id="estadoDelViaje-button24" ion-button color="calm" block small style="font-size:13px;" on-click="goToConfirmaciNReporteDeViaje()">
    ENVIAR REPORTE DE VIAJE
  </button>
    <div class="spacer" style="height:20px;" id="estadoDelViaje-spacer53"></div>
</ion-content>