<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Crear viaje" tabIcon="car" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Bolsa de kilómetros" tabIcon="stats" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contacto" tabIcon="mail" id="tabsController-tab3"></ion-tab>
</ion-tabs>