<ion-header>
  <ion-navbar>
    <ion-title>
      Pagar membresia
    </ion-title>
    <button *ngIf="licenses_end != true" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:#F0F0F5;">
  <p style="color:#000000;font-size:13px;">
      Por favor selecciona la cantidad de meses que deseas hacer parte del sistema WIN to WIN.
  </p>
  <ion-list>
      <ion-item>
        <ion-label>Selecciona</ion-label>
        <ion-select [(ngModel)]="dataPay">
          <ion-option value="20000">1 mes: $20.000</ion-option>
          <ion-option value="60000">3 meses: $60.000</ion-option>
          <ion-option value="120000">6 meses: $120.000</ion-option>
          <ion-option value="240000">12 meses: $240.000</ion-option>
        </ion-select>
      </ion-item>
  </ion-list>
  <div id="miPerfil-markdown13">
    <p *ngIf="licenses_days > 0" style="color:#000000;font-size:13px;">
      Te quedan: <strong>{{licenses_days}}</strong> dias de licencia   
    </p>
    <p *ngIf="0 > licenses_days" style="color:#000000;font-size:13px;">
      su licencia ha vencido   
    </p>
  </div>
  <button id="responderMensaje-button61" ion-button color="positive" block small on-click="pay()">
    Proceder con el pago
  </button>
  <button id="responderMensaje-button61" ion-button color="positive" block small on-click="history()">
     Ver historial de pago de membresias
  </button>
</ion-content>