<!--
  Generated template for the ListMessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de mensajes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row *ngFor="let i of items">
    <button class="itemMessage" (click)="showMessage(i);">
      <ion-col>
        <h6 class="name">{{i.name}}</h6>
      </ion-col>
    </button>
  </ion-row>  
</ion-content>
