<ion-header>
  <ion-navbar>
    <ion-title>
      Crear un viaje
    </ion-title>
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7" style="background-color:#F0F0F5;">

    <button id="crearUnViaje-button8" ion-button class="personalize" full large icon-right style="font-size:18px;text-align:left;">
      ¡Crea un viaje!
      <ion-icon name="car"></ion-icon>
    </button>
    <div class="spacer" style="height:20px;" id="crearUnViaje-spacer8"></div>
    <h5 id="crearUnViaje-heading1" style="color:#000000;">
      Punto de inicio
    </h5>
    <ion-item id="crearUnViaje-input9" *ngIf="toggleClicked === false">
      <ion-input type="text" (ionChange)="getAddress_begin()" placeholder="Buscar direccion" [(ngModel)]="autocompleteBegin.query"></ion-input>
    </ion-item>

    <ion-list *ngIf="showList_begin == 1 && autocompleteBegin.query != ''" style="padding-bottom: 0; margin-bottom: 0">
      <ion-item *ngFor="let item of autocompleteBeginItems" (touchstart)="selectPlace_begin(item)">{{item}}</ion-item>
    </ion-list>

    <ion-item id="crearUnViaje-toggle1">
      <ion-label>
        Usar mi ubicación actual
      </ion-label>
      <ion-toggle color="royal" checked="false" [(ngModel)]="ubication" (ionChange)="getLocation()"></ion-toggle>
    </ion-item>
    <div class="spacer" style="height:20px;" id="crearUnViaje-spacer10"></div>
    <h5 id="crearUnViaje-heading6" style="color:#000000;">
      Punto de destino
    </h5>
    <ion-item id="crearUnViaje-input10">
      <ion-label></ion-label>
      <ion-input type="text" (ionChange)="getAddress_end()" placeholder="Buscar direccion" [(ngModel)]="autocompleteEnd.query"></ion-input>
    </ion-item>
    
    <ion-list *ngIf="showList_end == 1 && autocompleteEnd.query != ''">
      <ion-item *ngFor="let item of autocompleteEndItems" (touchstart)="selectPlace_end(item)">{{item}}</ion-item>
    </ion-list>

    <div class="spacer" style="height:20px;" id="crearUnViaje-spacer13"></div>
    <h5 id="crearUnViaje-heading4" style="color:#000000;">
      Cupos disponibles
    </h5>
    <ion-item id="crearUnViaje-select3">
      <ion-label>
        Selecciona el número
      </ion-label>
      <ion-select name="" [(ngModel)]="seats">
        <ion-option>1</ion-option>
        <ion-option>2</ion-option>
        <ion-option>3</ion-option>
      </ion-select>
    </ion-item>
    <div class="spacer" style="height:20px;" id="crearUnViaje-spacer44"></div>
    <h5 id="crearUnViaje-heading3" style="color:#000000;">
      Hora de salida
    </h5>
    <ion-item id="crearUnViaje-input19">
      <ion-label *ngIf = "date ==  null || date == undefined || date ==''">
        Elija hora
      </ion-label>
      <ion-datetime min="{{min_time}}" displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <div class="spacer" style="height:20px;" id="crearUnViaje-spacer14"></div>
    <button [disabled]="seats =='' || seats ==undefined || date =='' || date ==undefined || position_begin == '' || position_begin == undefined || position_end == '' || position_end == undefined" id="crearUnViaje-button7" ion-button color="calm" block small style="font-size:13px;" (click)="createTrip()">
      ¡CREAR VIAJE!
    </button>
    <div class="spacer" style="height:20px;" id="crearUnViaje-spacer54"></div>

</ion-content>