<ion-content padding id="page28" style="background-color:#F0F0F5;">
  <form id="confirmaciNDocumentaciNVehCulo-form26">
    <div class="spacer" style="height:20px;" id="confirmaciNDocumentaciNVehCulo-spacer162"></div>
    <img src="assets/img/1sdZRRRsR8S0RkR0Iirn_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNDocumentaciNVehCulo-spacer95"></div>
    <div id="confirmaciNDocumentaciNVehCulo-markdown43" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Hemos recibido la documentación. Si cumples con los requisitos, en el lapso de 2 horas tendrás lista tu activación al sistema.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNDocumentaciNVehCulo-spacer96"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNDocumentaciNVehCulo-spacer97"></div>
    <button id="confirmaciNDocumentaciNVehCulo-button48" ion-button color="calm" block small style="font-size:13px;" on-click="goToIniciaSesion()">
      INGRESAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNDocumentaciNVehCulo-spacer98"></div>
  </form>
</ion-content>