<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Responder mensaje
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page37" style="background-color:#F0F0F5;">
  <form id="responderMensaje-form37">
    <div class="spacer" style="height:20px;" id="responderMensaje-spacer180"></div>
    <div id="responderMensaje-markdown74" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:15px;">
        <strong>
          Responde el mensaje a continuación:
        </strong>
      </p>
    </div>
    <ion-item id="responderMensaje-input30">
      <ion-label></ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="message"  name="message54"></ion-input>
    </ion-item>
  </form>
  <div class="spacer" style="height:20px;" id="responderMensaje-spacer181"></div>
  <button id="responderMensaje-button61" ion-button color="positive" block small on-click="goToEstadoDelViaje()">
    ENVIAR RESPUESTA
  </button>
</ion-content>