<ion-content padding id="page34" style="background-color:#F0F0F5;">
  <form id="requisitos-form33">
    <div class="spacer" style="height:20px;" id="requisitos-spacer144"></div>
    <div id="requisitos-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        El proceso de registro completo toma aprox 5 minutos y debes tener en digital o a la mano:
      </p>
    </div>
    <div class="spacer" style="height:10px;" id="requisitos-spacer119"></div>
    <img src="assets/img/MNpa6pSxWzytci4fQCkQ_icon-document.png" style="display:block;width:20%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="requisitos-spacer121"></div>
    <div id="requisitos-markdown61" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -Cédula de Ciudadanía
      </p>
    </div>
    <div id="requisitos-markdown67" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -Licencia de conducción (Vigente)
      </p>
    </div>
    <div id="requisitos-markdown62" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -Seguro Obligatorio SOAT (Vigente)
      </p>
    </div>
    <div id="requisitos-markdown68" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -Certificado de Inspección Técnico Mecánica (Si aplica)
      </p>
    </div>
    <div id="requisitos-markdown69" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -Póliza Todo Riesgo (opcional)
      </p>
    </div>
    <div id="requisitos-markdown69" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        <b>NOTA:</b> Las imágenes debe ser legibles
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="requisitos-spacer122"></div>
    <div id="requisitos-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Para WIN TO WIN es importante la Seguridad de los usuarios, es por eso que:
      </p>
    </div>
    <div class="spacer" style="height:10px;" id="requisitos-spacer123"></div>
    <img src="assets/img/NFrSej8nRc62VLmr6mie_icon-car.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="requisitos-spacer134"></div>
    <div id="requisitos-markdown59" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -El vehículo debe ser modelo 2004 en adelante y 4 puertas.
      </p>
    </div>
    <div id="requisitos-markdown71" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -Tanto vehículo como conductor deben estar al día en comparendos al momento de registrarse.
      </p>
    </div>
    <div id="requisitos-markdown71" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        -La información y documentación estará sujeta a verificación.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="requisitos-spacer135"></div>
    <div class="spacer" style="height:20px;" id="requisitos-spacer139"></div>
    <button id="requisitos-button53" ion-button color="calm" block small style="font-size:13px;" on-click="goToRegistroConductor1()">
      REGISTRARME
    </button>
    <div class="spacer" style="height:20px;" id="requisitos-spacer140"></div>
  </form>
</ion-content>