<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Contacto
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page15" style="background-color:#F0F0F5;">
  <form id="contacto2-form12">
    <div class="spacer" style="height:20px;" id="contacto2-spacer33"></div>
    <div id="contacto2-markdown34" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Envíanos tu mensaje en el siguiente campo, responderemos a tu solicitud lo más pronto posible.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="contacto2-spacer34"></div>
    <ion-item id="contacto2-input18">
      <ion-label></ion-label>
      <ion-input type="text" placeholder="Digita tu mensaje" name="message" [(ngModel)]="message"></ion-input>
    </ion-item>
    <div class="spacer" style="height:30px;" id="contacto2-spacer35"></div>
  </form>
  <button [disabled]="message == '' || message == undefined || message == null" id="contacto2-button19" ion-button color="calm" block small style="font-size:13px;" (click)="sendMessage();">
    ENVIAR MENSAJE
  </button><br><br>
  <div text-center *ngIf="flag == false">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="flag == true">
    <div *ngFor = "let i of messageR">
      <hr> 
      <p>Mensaje Recibido por el soporte. {{i.fecha | date: 'medium'}}</p> 
      <h4>{{i.mensaje}}</h4>
      <hr> <br>
    </div>
  </div>
</ion-content>