<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación registro usuario-conductor
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page35" style="background-color:#F0F0F5;">
  <form id="confirmaciNRegistroUsuarioConductor-form34">
    <div class="spacer" style="height:20px;" id="confirmaciNRegistroUsuarioConductor-spacer163"></div>
    <img src="assets/img/8fHzcvOzSwqGoPVjfH93_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNRegistroUsuarioConductor-spacer151"></div>
    <div id="confirmaciNRegistroUsuarioConductor-markdown50" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Hemos recibido la información. Si cumples con los requisitos, en el lapso de 2 horas tendrás lista tu activación al sistema.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNRegistroUsuarioConductor-spacer152"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNRegistroUsuarioConductor-spacer153"></div>
    <button id="confirmaciNRegistroUsuarioConductor-button56" ion-button color="calm" block small style="font-size:13px;" on-click="goToIniciaSesion()">
      INGRESAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNRegistroUsuarioConductor-spacer154"></div>
  </form>
</ion-content>