page-mensaje-recibido {
    .messages-send{
        background: #488aff;
        width: 80%;;
        height: auto;
        padding: 6px;
        // box-shadow: -1px 2px 5px rgb(153, 150, 150);
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        float: right;
        display: block;
        margin-bottom: 10px;
        padding-bottom: 20px;
        color: black;
        margin-right: 10px;
        .date{
            margin-bottom: 3px;
            width: 87%;
            height: 25px;
            background: #488aff;
            position: absolute;
            bottom: 0;
            p{
                text-align: right;
                color: rgb(59, 59, 59);
                font-size: 11px;

            }
 
        }
    }
    .messages{
        box-shadow: -3px 3px 5px 0px #b8b8b8;
        background: rgb(252, 252, 247);
        width: 90%;
        height: auto;
        padding: 6px;
        background: white;
     //    box-shadow: -1px 2px 5px rgb(153, 150, 150);
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        margin-left: 6px;
        text-align: left;
        line-height: 1.3;
        word-break: break-word;
        margin-bottom: 10px;
        padding-bottom: 12px;
        color: rgb(59, 59, 59);

        margin-left: 10px;
        .date{
            width: 95%;
            height: 25px;
            background: white;
            position: absolute;
            bottom: 0;
            p{
                text-align: right;
                color: rgb(59, 59, 59);
                font-size: 11px;
 
            }
        }
    }
}
