<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          Pago de membresias
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding id="page14" style="background-color:#F0F0F5;">
  <div class="spacer" style="height:20px;" id="pagoDeMembresias-spacer143"></div>
  <form id="pagoDeMembresias-form11">
    <div id="pagoDeMembresias-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Has realizado los siguientes pagos de membresias en nuestro sistema:
      </p>
    </div>
    <div class="spacer" style="height:10px;" id="pagoDeMembresias-spacer31"></div>
    <div *ngIf = "flag == true">
      <ion-item *ngFor="let i of items" id="pagoDeMembresias-list-item-container12">
        <div id="pagoDeMembresias-markdown29" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            ${{i.amount}} {{i.datePay | date: 'dd-MM-yyyy'}} mediante  PAYU
          </p>
        </div>
      </ion-item>
    </div>
    <div *ngIf = "flag == false">
      <span>No has realizado pagos.</span>
    </div>
      <div class="spacer" style="height:30px;" id="pagoDeMembresias-spacer32"></div>
  </form>
</ion-content>