<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación cancelar viaje
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page32" style="background-color:#F0F0F5;">
  <form id="confirmaciNCancelarViaje-form29">
    <div class="spacer" style="height:20px;" id="confirmaciNCancelarViaje-spacer165"></div>
    <img src="assets/img/qvc97RBBTySYO6V88Msi_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNCancelarViaje-spacer115"></div>
    <div id="confirmaciNCancelarViaje-markdown46" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tu viaje ha sido cancelado satisfactoriamente.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNCancelarViaje-spacer116"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNCancelarViaje-spacer117"></div>
    <button id="confirmaciNCancelarViaje-button49" ion-button color="calm" block small style="font-size:13px;" on-click="goToCrearUnViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNCancelarViaje-spacer118"></div>
  </form>
</ion-content>