<ion-content padding id="page5" style="background-color:#F0F0F5;">
  <!-- <form id="registroConductor1-form1"> -->
    <div class="spacer" style="height:30px;" id="registroConductor1-spacer1"></div>
    <div id="registroConductor1-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">
        Bienvenido (a)
      </p>
    </div>
    <img src="assets/img/B16NTIvBTeqtGvUh9BSw_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="registroConductor1-spacer158"></div>
    <div id="registroConductor1-markdown52" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        ¡GRACIAS POR DESCARGAR NUESTRA APP!
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="registroConductor1-spacer159"></div>
    <div id="registroConductor1-markdown53" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">
        Desde ahora podrás hacer parte de la única opción gratuita para desplazarte por la ciudad
      </p>
    </div>
    <div id="registroConductor1-markdown58" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">
        Antes de iniciar el REGISTRO, por favor revisa los requisitos:
      </p>
    </div>
    <button id="buscaUnViaje-button8" ion-button color="dark" full large icon-right style="font-size:18px;text-align:left;" on-click="goToRequisitos()">
      VER REQUISITOS
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
    <div class="spacer" style="height:10px;" id="registroConductor1-spacer113"></div>
    <div id="registroConductor1-markdown23" class="show-list-numbers-and-dots"></div>
    <h4 id="registroConductor1-heading12" style="color:#000000;">
      Datos personales
    </h4>
    <form [formGroup]="form" >
      <div class="spacer" style="height:10px;" id="registroConductor1-spacer2"></div>
      <ion-list id="registroConductor1-list1">
        <ion-item id="registroConductor1-input1">
          <ion-label></ion-label>
          <ion-input formControlName="phone" type="number" placeholder="Número de celular:"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.phone.valid &&
        form.controls.phone.dirty"
        class="validator-error">
        <h5 class="error" >El número de teléfono debe tener diez dígitos.</h5>
      </ion-item>
        <ion-item id="registroConductor1-input3">
          <ion-label></ion-label>
          <ion-input formControlName="email" type="email" placeholder="Correo electrónico:"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.email.valid &&
          form.controls.email.dirty"
          class="validator-error">
          <h5 class="error" >Ingrese un correo valido</h5>
        </ion-item>
        <ion-item id="registroConductor1-input4">
          <ion-label></ion-label>
          <ion-input formControlName="name" type="text" placeholder="Nombres:"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.name.valid &&
          form.controls.name.dirty"
          class="validator-error">
          <h5 class="error" >Ingrese un nombre valido</h5>
        </ion-item>
        <ion-item id="registroConductor1-input2">
          <ion-label></ion-label>
          <ion-input formControlName="lastname"  type="text" placeholder="Apellidos:"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.lastname.valid &&
          form.controls.lastname.dirty"
          class="validator-error">
          <h5 class="error" >Ingrese un apellido valido</h5>
        </ion-item>
        <ion-item>
          <ion-input formControlName="password" [type]="passwordType" placeholder="Clave: (Minimo 8 digitos)"></ion-input>
          <ion-icon style="z-index: 900;" item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()'></ion-icon>
        </ion-item>
        <ion-item *ngIf="!form.controls.password.valid &&
          form.controls.password.dirty"
          class="validator-error">
          <h5 class="error" >Clave mayor o igual a 8 dígitos</h5>
        </ion-item>
        <ion-item id="registroConductor1-input44">
          <ion-input formControlName="repassword" [type]="repasswordType" placeholder="Confirmar clave"></ion-input>
          <ion-icon style="z-index: 900;" item-end [name]="repasswordIcon" class="passwordIcon" (click)='showHideRe()'></ion-icon>
        </ion-item>
        <ion-item *ngIf="!form.controls.repassword.valid && form.controls.repassword.dirty && form.controls.repassword.hasError('pw_mismatch')"
          class="validator-error">
          <h5 class="error">Las claves no coinciden</h5>
        </ion-item>
        <ion-item>
          <ion-label style="position:relative;">Acepto los <span style="color:#2B8397;" (click)="terms_condition()">Términos y condiciones</span></ion-label>
          <ion-checkbox style="position:relative;" formControlName="terms"></ion-checkbox>
        </ion-item>
      </ion-list>
    </form>
    <button *ngIf="image ==''" id="registroConductor1-button43" ion-button color="royal" block icon-right style="font-size:12px;" (click)="upload_picture()">
      SUBIR FOTO DE PERFIL (opcional)
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="image !=''">Ya tienes una imagen cargada.</label>
    <button *ngIf="image !=''" id="registroConductor1-button43" ion-button color="royal" block icon-right style="font-size:12px;" (click)="upload_picture()">
      CAMBIAR IMAGEN
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <div class="spacer" style="height:20px;" id="registroConductor1-spacer101"></div>
    <button id="registroConductor1-button23" ion-button color="calm" block small style="font-size:13px;border-radius:0px 0px 0px 0px;" [disabled]="form.status == 'INVALID' || form.value.terms == false" on-click="register()">
      CONTINUAR CON EL REGISTRO
    </button>
    <div class="spacer" style="height:20px;" id="registroConductor1-spacer71"></div>
    <div id="registroConductor1-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        ¿Ya tienes una cuenta?
      </p>
    </div>
    <button id="registroConductor1-button3" ion-button color="calm" block small style="font-size:13px;" on-click="goToIniciaSesion()">
      INICIAR SESIÓN
    </button>
    <div class="spacer" style="height:30px;" id="registroConductor1-spacer3"></div>
  <!-- </form> -->
</ion-content>