<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Resultados viajes realizados
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page11" style="background-color:#F0F0F5;">
  <div class="spacer" style="height:20px;" id="resultadosViajesRealizados-spacer15"></div>
  <div id="resultadosViajesRealizados-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:13px;">
      Tu historial de viajes realizados:
    </p>
  </div>
  <div class="spacer" style="height:10px;" id="resultadosViajesRealizados-spacer22"></div>
  <div *ngFor="let trip of trips">
    <ion-item id="resultadosViajesRealizados-list-item-container2">
      <div id="resultadosViajesRealizados-markdown15" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;font-size:13px;">ORIGEN: {{trip.origin}}</p>
        <p style="margin-top:0px;color:#000000;font-size:13px;">DESTINO: {{trip.destiny}}</p>
        <p style="margin-top:0px;color:#000000;font-size:13px;">km:{{trip.distance}} HORA:{{trip.hour}} FECHA: {{trip.date}}</p>
      </div>
    </ion-item>
  </div>
  <div class="spacer" style="height:30px;" id="resultadosViajesRealizados-spacer23"></div>
</ion-content>