<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación aceptación usuario
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page30" style="background-color:#F0F0F5;">
  <form id="confirmaciNAceptaciNUsuario-form31">
    <div class="spacer" style="height:20px;" id="confirmaciNAceptaciNUsuario-spacer170"></div>
    <img src="assets/img/RY5loBLRSCys0wNarw42_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNAceptaciNUsuario-spacer107"></div>
    <div id="confirmaciNAceptaciNUsuario-markdown47" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Has aceptado al usuario satisfactoriamente.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNAceptaciNUsuario-spacer108"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNAceptaciNUsuario-spacer109"></div>
    <button id="confirmaciNAceptaciNUsuario-button45" ion-button color="calm" block small style="font-size:13px;" on-click="goToEstadoDelViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNAceptaciNUsuario-spacer110"></div>
  </form>
</ion-content>