<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación creación de viaje
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page17" style="background-color:#F0F0F5;">
  <div class="spacer" style="height:20px;" id="confirmaciNCreaciNDeViaje-spacer168"></div>
  <form id="confirmaciNCreaciNDeViaje-form15">
    <img src="assets/img/rtqD50L9T3G09axUs1sg_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNCreaciNDeViaje-spacer40"></div>
    <div id="confirmaciNCreaciNDeViaje-markdown41" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tu viaje ha sido creado satisfactoriamente.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNCreaciNDeViaje-spacer41"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNCreaciNDeViaje-spacer42"></div>
    <button id="confirmaciNCreaciNDeViaje-button21" ion-button color="calm" block small style="font-size:13px;" on-click="goToEstadoDelViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNCreaciNDeViaje-spacer43"></div>
  </form>
</ion-content>