<ion-menu [content]="mainContent">
  <ion-content id="side-menu21">
    <div class="spacer" style="height:10px;" id="menu-spacer172"></div>
    <img src="assets/img/AXAYfExhREi9Oyc7ZSlv_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <br/>
    <ion-list>
      <ion-item class="outline" menuClose="" on-click="goToMiPerfil()">
        Mi Perfil  
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="goToMiGrupo()">
        Mi grupo
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="goToMiActualViaje()">
        Mi actual viaje
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="goToViajesRealizados()">
        Viajes realizados
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="goToWallet()">
        Wallet
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="goToCali()">
        Calificaciones
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="goToPagoDeMembresias()">
        Pagos de membresias
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="goToContacto2()">
        Contacto
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
      <ion-item class="outline" menuClose="" on-click="logout()">
        Cerrar sesion
        <ion-icon name="arrow-dropleft" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>