<ion-content padding id="page6" style="background-color:#F0F0F5;">
  <!-- <form id="iniciaSesion-form2"> -->
    <img src="assets/img/iqDP9JqQaSYWDnferQgI_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <form [formGroup]="form" >
      <div class="spacer" style="height:30px;" id="iniciaSesion-spacer4"></div>
      <ion-list id="iniciaSesion-list2">
        <ion-item id="iniciaSesion-input7">
          <ion-label> Email: </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item id="iniciaSesion-input8">
          <ion-label>
            Clave:
          </ion-label>
          <ion-input [type]="passwordType" placeholder="" formControlName="password"></ion-input>
          <ion-icon style="z-index: 900;" item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()'></ion-icon>
        </ion-item>
      </ion-list>
    </form>
    <div class="spacer" style="height:20px;" id="iniciaSesion-spacer5"></div>
    <button id="iniciaSesion-button4" ion-button color="calm" block small style="font-size:13px;"  [disabled]="form.status == 'INVALID'"  (click)="loginUser()">
      INGRESAR
    </button>
    <div class="spacer" style="height:20px;" id="iniciaSesion-spacer79"></div>
    <div id="iniciaSesion-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        ¿Olvidaste tu clave?
      </p>
    </div>
    <button id="iniciaSesion-button33" ion-button clear color="stable" block style="font-weight:500;color:#2B8397;font-size:13px;" on-click="goToRecordarContraseA()">
      Recordar contraseña
    </button>
    <div class="spacer" style="height:20px;" id="iniciaSesion-spacer6"></div>
    <div id="iniciaSesion-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        ¿Aún no tienes una cuenta?
      </p>
    </div>
    <button id="iniciaSesion-button5" ion-button color="calm" block small style="font-size:13px;" (click)="goToRegistroConductor()">
      REGÍSTRATE
    </button>
  <!-- </form> -->
</ion-content>