<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Mi perfil
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="page8" style="background-color:#F0F0F5;">
    <div class="spacer" style="height:15px;" id="miPerfil-spacer160"></div>
    <img src="assets/img/q5OenUpeQtTGFHyNYEZg_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:15px;" id="miPerfil-spacer16"></div>
    <div id="miPerfil-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:13px;">
            Edita los campos que deseas modificar:
        </p>
    </div>
    <div class="spacer" style="height:10px;" id="miPerfil-spacer19"></div>
    <ion-list id="miPerfil-list3">
        <form [formGroup]="form">
            <ion-item id="miPerfil-input11">
                <ion-label>
                    Nombres
                </ion-label>
                <ion-input value="{{showName}}" type="text" placeholder="" formControlName="name"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.name.valid &&
            form.controls.name.dirty" class="validator-error">
                <h5 class="error">Ingresa un nombre valido</h5>
            </ion-item>
            <ion-item id="miPerfil-input12">
                <ion-label>
                    Apellidos
                </ion-label>
                <ion-input value="{{showLastName}}" type="text" placeholder="" formControlName="lastName"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.lastName.valid &&
            form.controls.lastName.dirty" class="validator-error">
                <h5 class="error">Ingresa un apellido valido</h5>
            </ion-item>
            <ion-item id="miPerfil-input12">
                <ion-label>
                    Número de Teléfono
                </ion-label>
                <ion-input value="{{phone}}" type="number" placeholder="" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.phone.valid &&
            form.controls.phone.dirty" class="validator-error">
                <h5 class="error">El número debe tener diez dígito</h5>
            </ion-item>
            <ion-item id="miPerfil-input12">
                <ion-label>
                    Email 1 opcional
                </ion-label>
                <ion-input value="{{emailCorp1}}" type="text" placeholder="" formControlName="email1"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.email1.valid &&
            form.controls.email1.dirty" class="validator-error">
                <h5 class="error">Ingrese un correo valido</h5>
            </ion-item>
            <ion-item id="miPerfil-input12">
                <ion-label>
                    Email 2 opcional
                </ion-label>
                <ion-input value="{{emailCorp2}}" type="text" placeholder="" formControlName="email2"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.email2.valid &&
            form.controls.email2.dirty" class="validator-error">
                <h5 class="error">Ingrese un correo valido</h5>
            </ion-item>
            <ion-item>
                <ion-label>Comunidades</ion-label>
                <ion-select (ionChange)="getCommunity($event)" multiple="true" formControlName="community">
                    <div *ngFor="let community of communitys">
                        <ion-option [selected]="community.selected">{{community.name}}</ion-option>
                    </div>
                </ion-select>
            </ion-item>
        </form>
        <ion-item id="miPerfil-input12">
            <ion-label>Elige:</ion-label>
            <ion-select name="" [(ngModel)]="type">
                <ion-option>Cédula de ciudadanía</ion-option>
                <ion-option>Cédula de extranjería</ion-option>
                <ion-option>Pasaporte</ion-option>
            </ion-select>
        </ion-item>
        <ion-item id="miPerfil-input12">
            <ion-label>
                Documento
            </ion-label>
            <ion-input value="{{numLic}}" type="number" placeholder="" [(ngModel)]="numberDoc"></ion-input>
        </ion-item>
        <ion-item id="miPerfil-input13">
            <ion-label>
                Email
            </ion-label>
            <ion-input disabled value="{{email}}" type="email" placeholder=""></ion-input>
        </ion-item>
        <!-- <ion-item id="miPerfil-input14">
            <ion-label>
                Contraseña
            </ion-label>
            <ion-input disabled type="pwd" placeholder="Desahabilitado momentaneamente"></ion-input>
        </ion-item> -->
    </ion-list>
    <div class="spacer" style="height:20px;" id="miPerfil-spacer17"></div>
    <button [disabled]="form.status == 'INVALID'" id="miPerfil-button18" ion-button color="calm" block small style="font-size:13px;" on-click="save()">
      GUARDAR CAMBIOS
    </button>
    <div class="spacer" style="height:10px;" id="miPerfil-spacer50"></div>
    <div id="miPerfil-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:13px;">
            Recuerda tu código de grupo beneficiario: <strong>{{code}}</strong>
        </p>
        <p style="color:#000000;font-size:13px;" *ngIf="codeCar != 0">
            Recuerda tu código de vehiculo: <strong>{{codeCar}}</strong>
        </p>

        <p style="color:#000000;font-size:13px;">
            Te quedan: <strong>{{licenses}}</strong> dias de licencia
        </p>
    </div>
    <div class="spacer" style="height:30px;" id="miPerfil-spacer18"></div>
</ion-content>