<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación cambios
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page16" style="background-color:#F0F0F5;">
  <div class="spacer" style="height:20px;" id="confirmaciNCambios-spacer161"></div>
  <form id="confirmaciNCambios-form14">
    <img src="assets/img/7thSQyHSQ1y5AnPZwGC3_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:60px;" id="confirmaciNCambios-spacer36"></div>
    <div id="confirmaciNCambios-markdown40" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tus datos han sido modificados satisfactoriamente.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNCambios-spacer37"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNCambios-spacer38"></div>
    <button id="confirmaciNCambios-button20" ion-button color="calm" block small style="font-size:13px;" on-click="goToCrearUnViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNCambios-spacer39"></div>
  </form>
</ion-content>