<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación respuesta enviada
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page38" style="background-color:#F0F0F5;">
  <form id="confirmaciNRespuestaEnviada-form39">
    <div class="spacer" style="height:20px;" id="confirmaciNRespuestaEnviada-spacer182"></div>
    <img src="assets/img/NX7N0rekQlejU3fhgToM_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNRespuestaEnviada-spacer183"></div>
    <div id="confirmaciNRespuestaEnviada-markdown76" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tu respuesta ha sido enviada satisfactoriamente.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNRespuestaEnviada-spacer184"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNRespuestaEnviada-spacer185"></div>
    <button id="confirmaciNRespuestaEnviada-button62" ion-button color="calm" block small style="font-size:13px;" on-click="goToEstadoDelViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNRespuestaEnviada-spacer186"></div>
  </form>
</ion-content>