<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mi grupo
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9" style="background-color:#F0F0F5;">
  <form id="miGrupo-form6">
    <div class="spacer" style="height:20px;" id="miGrupo-spacer20"></div>
    <div id="miGrupo-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tu grupo beneficiario esta compuesto por:
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="miGrupo-spacer21"></div>
    <div *ngIf="this.heros.length == 0 && this.clients.length == 0">
      <h5 text-center>No cuentas con miembros en tu grupo</h5>
    </div>
    <ion-list id="miGrupo-list4">
      <ion-list id="miGrupo-list5">
        <div *ngIf="this.heros.length > 0">
          <div *ngFor = "let hero of heros">
            <ion-item color="positive" id="miGrupo-list-item8">
              {{hero}}
              <ion-icon name="car" item-right></ion-icon>
            </ion-item>
          </div>
        </div>
        <div *ngIf="this.clients.length > 0">
          <div *ngFor = "let client of clients">
            <ion-item color="none" id="miGrupo-list-item9">
              {{client}}
              <ion-icon name="person" item-right></ion-icon>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </ion-list>
  </form>
</ion-content>