<ion-content padding id="page31" style="background-color:#F0F0F5;">
  <form id="bienvenida-form28">
    <div class="spacer" style="height:10px;" id="bienvenida-spacer142"></div>
    <h4 id="bienvenida-heading10" style="color:#000000;font-weight:300;">
      Bienvenido
    </h4>
    <div class="spacer" style="height:10px;" id="bienvenida-spacer112"></div>
    <img src="assets/img/Tm66uQyS3mvZm23WJrBw_logo_oferentes.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="bienvenida-spacer102"></div>
    <div id="bienvenida-markdown42" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">
        Gracias por descargar nuestra App. Desde ahora podrás hacer parte de la mejor opción para sacarle el máximo provecho a tu vehículo en beneficio de todo tu grupo familiar.
      </p>
    </div>
    <button id="bienvenida-button54" ion-button color="calm" block small icon-right on-click="goToRequisitos()">
      VER REQUISITOS
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
    <div class="spacer" style="height:30px;" id="bienvenida-spacer125"></div>
    <div id="bienvenida-markdown54" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">
        Si ya sabes que cumples con las condiciones mínimas no dudes en proceder con tu registro.
      </p>
    </div>
    <button id="bienvenida-button40" ion-button color="calm" block small icon-right style="font-size:13px;" on-click="goToRegistroConductor1()">
      REGISTRARME
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
    <div class="spacer" style="height:20px;" id="bienvenida-spacer120"></div>
  </form>
</ion-content>