<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Wallet
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page12" style="background-color:#F0F0F5;">
  <form id="wallet-form9">
    <div class="spacer" style="height:50px;" id="wallet-spacer24"></div>
    <div id="wallet-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tu grupo beneficiario cuenta en su Wallet con:
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="wallet-spacer25"></div>
    <ion-item id="wallet-list-item-container6">
      <div id="wallet-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;font-size:14px;">
          {{wallet}} Wins
        </p>
      </div>
    </ion-item>
    <div class="spacer" style="height:30px;" id="wallet-spacer26"></div>
  </form>
</ion-content>