<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mi actual viaje
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page20" style="background-color:#F0F0F5;">

  <div *ngIf = "show_trip == true"> 
    <form id="miActualViaje-form17" >
      <div class="spacer" style="height:20px;" id="miActualViaje-spacer56"></div>
      <div id="miActualViaje-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          Has publicado este viaje:
        </p>
      </div>
      <ion-item id="miActualViaje-list-item-container8">
        <div id="miActualViaje-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:13px;">
            {{begin.name}} - {{end.name}}
          </p>
        </div>
      </ion-item>
      <div class="spacer" style="height:10px;" id="miActualViaje-spacer133"></div>
      <button id="miActualViaje-button42" ion-button color="calm" block small style="font-size:12px;" on-click="goToEstadoDelViaje()">
        VER ESTADO DEL VIAJE
      </button>
      <button id="miActualViaje-button42" ion-button color="calm" block small style="font-size:12px;" on-click="goToMessages()">
        VER LISTA DE MENSAJES
      </button>
    </form>
    <div class="spacer" style="height:20px;" id="miActualViaje-spacer58"></div>
    <div id="miActualViaje-markdown45" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        ¿Deseas cancelar tu actual viaje?
      </p>
    </div>
    <button id="miActualViaje-button47" ion-button color="calm" block small style="font-size:12px;" on-click="goToConfirmaciNCambioDeRuta()">
      SI, CANCELAR VIAJE
    </button>
    <div class="spacer" style="height:30px;" id="miActualViaje-spacer114"></div>
  </div>

  <div *ngIf = "show_trip == false">
    <form id="miActualViaje-form17" >
      <div class="spacer" style="height:20px;" id="miActualViaje-spacer56"></div>
      <div id="miActualViaje-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
        <h4 style="color:#000000;">
          No posees ningun viaje activo
        </h4>
      </div>
      <div class="spacer" style="height:10px;" id="miActualViaje-spacer133"></div>
      <button id="miActualViaje-button42" ion-button color="calm" block small style="font-size:12px;" on-click="goToCrearViaje()">
        CREAR UN VIAJE
      </button>
    </form>
  </div>
</ion-content>