<ion-content padding id="page22" style="background-color:#F0F0F5;">
  <!-- <form id="datosDelVehCulo-form20"> -->
    <div class="spacer" style="height:10px;" id="datosDelVehCulo-spacer132"></div>
    <img src="assets/img/4xMrgj5CRyCogsvkAtde_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:10px;" id="datosDelVehCulo-spacer49"></div>
    <h4 id="datosDelVehCulo-heading18" style="color:#000000;">
      Registro del vehículo
    </h4>
    <form [formGroup]="form" >
      <div class="spacer" style="height:10px;" id="datosDelVehCulo-spacer52"></div>
      <ion-item id="datosDelVehCulo-input24">
        <ion-label>Placa No.</ion-label>
        <ion-input formControlName="registration" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.registration.valid &&
        form.controls.registration.dirty"
        class="validator-error">
        <h5 class="error" >Ingrese una placa valida.</h5>
      </ion-item>
      
      <ion-item id="datosDelVehCulo-input25">
        <ion-label>Lugar de la matricula</ion-label>
        <ion-select formControlName="place_regis">
            <ion-option *ngFor="let lugar of allLugares " value="{{lugar}}">{{lugar}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!form.controls.place_regis.valid &&
        form.controls.place_regis.dirty"
        class="validator-error">
        <h5 class="error" >Seleccione el lugar de la matricula</h5>
      </ion-item>

      <ion-item id="datosDelVehCulo-input26" *ngIf="form.value.place_regis != ''">
          <ion-label>Marca</ion-label>
        <ion-select formControlName="brand" >
            <ion-option *ngFor="let marca of allMarcas " value="{{marca}}" (ionSelect)="onChange($event, marca)">{{marca}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!form.controls.brand.valid &&
        form.controls.brand.dirty"
        class="validator-error">
        <h5 class="error" >Ingrese una marca</h5>
      </ion-item>

      <ion-item id="datosDelVehCulo-input27" *ngIf="form.value.brand != ''">
        <ion-label>Linea</ion-label>
        <ion-select formControlName="line" >
            <ion-option *ngFor="let linea of allLineas " value="{{linea}}">{{linea}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!form.controls.line.valid &&
        form.controls.line.dirty"
        class="validator-error">
        <h5 class="error" >Ingrese una linea</h5>
      </ion-item>
      <ion-item id="datosDelVehCulo-input28" *ngIf="form.value.line != ''">
        <ion-label>Modelo</ion-label>
        <ion-datetime displayFormat="YYYY" min="2004" formControlName="model"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="!form.controls.model.valid &&
      form.controls.model.dirty"
      class="validator-error">
      <h5 class="error" >Ingrese un modelo</h5>
    </ion-item>
    </form>
    <div class="spacer" style="height:20px;" id="datosDelVehCulo-spacer57"></div>
    <button id="datosDelVehCulo-button27" ion-button color="calm" block small style="font-size:13px;" [disabled]="form.status == 'INVALID'" on-click="goToDocumentaciNVehCulo()">
      CONTINUAR CON EL REGISTRO
    </button>
    <div class="spacer" style="height:20px;" id="datosDelVehCulo-spacer69"></div>
    <div class="spacer" style="height:20px;" id="datosDelVehCulo-spacer63"></div>
  <!-- </form> -->
</ion-content>